.gameContainer {
    display: grid;

    width: 80vmin;
    height: 80vmin;

    grid-gap: 4px;
    grid-template-columns: repeat(50, 1fr);
    grid-auto-rows: 1fr;
}

.tile {
    width: 100%;
    height: 100%;

    border-radius: 2px;

    background-color: #3f3f46;
    transition: background-color 80ms;
}

.tile.alive {
    background-color: #a1a1aa;
}
